@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

:root{
    --primary:#333333;
    --secondary:#828282;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: #f5f2f0;
    font-family: 'Merriweather', serif;
}

.left-img>img{
    height: 116vh;
    float: left;
    width: 70vh;
}

/* navigation */

nav{
    display: flex;
    justify-content: space-between;
    padding: 26px 0px;
}

.nav-logo>img{
    position: relative;
    right: 24rem;
    height: 32px;
    display: flex;
    align-items: center;
}

.nav-list {
    align-items: center;
    display: contents;
}

.nav-list>ul {
    display: flex;
    list-style: none;
    width: 750px;
}
.nav-list>ul>li>a{
    display: flex;
    text-decoration: none;
   color: var(--primary);
   margin-right: 60px;
}

.heading {
    font-size: 55px;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 94px;
    margin-top: 50px;
}

.horizontal-line{
    width: 259px;
    background: var(--secondary);
    height: 2px;
    margin: auto;
    position: relative;
    right: 43px;
}

.heading>h1>span{
    font-size: 95px;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: #262626;
    -webkit-text-fill-color: #f5f5f5;
    font-family: 'Merriweather', serif;
}

/* main-section */

.main-section {
    display: flex;
    margin-left: 504px;
    position: relative;
    bottom: 46px;
    justify-content: center;
}

.part{
    position: relative;
    left: 25px;
    margin-left: 71px;
}

.top-content{ 
    display: flex;
}

.para{
    font-size: 25px;
    color: var(--secondary);
}

.para>p{
    font-size: 24px;
    width: 100px;
    margin: 25px 0px;
}

.top-para {
    position: relative;
    top: 145px;
    left: 39px;
}

.top-content-btn>button{
    padding: 22px 85px;
    background: var(--primary);
    color: #fff;
    font-size: 20px;
    border: none;
}

.social {
    position: relative;
    left: -25px;
    line-height: 55px;
    top: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-img>img{
    height: 200px;
    object-fit: cover;
    object-position: center;
    width: 417px;
}

.bottom-section{
    display: flex;
    position: relative;
    top: 38px;
    justify-content: space-between;
    padding: 20px 58px;
    line-height: 26px;
}

.bottom-container{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.steps>ul{
    color: var(--primary);
    font-weight: 600;
    list-style: none;
    line-height: 50px;
    height: 20px;
}

.bottom-para>p{
    width: 24rem;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
    margin: 20px 0px;
}

.comma>img{
    height: 37px;
}

.bottom-content{
    height: 335px;
}

.list-item>img{
    height: 13px;
    margin: 0px 5px;
}

.vertical-line{
    background: #c0bfbf;
    width: 2px;
    height: 315px;
    position: relative;
    bottom: 221px;
    left: 10px;
}

.arrow>img{
    float: right;
    position: relative;
    top: 100px;
}


/* media query  */

@media screen and (max-width:1236px) {

    .left-img>img {
        height: 153vh;
        float: left;
        width: 70vh;
    }

    nav {
        display: flex;
        justify-content: center;
        padding: 26px 0px;
    }

    .nav-list>ul {
        display: flex;
        list-style: none;
        width: 500px;
        justify-content: center;
    }

    .horizontal-line {
        display: none;
    }

    .top-content {
        display: flex;
        flex-direction: column;
    }

    .top-para {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .social {
        position: relative;
        left: 50px;
        line-height: 55px;
        top: 59px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-section {
        display: flex;
        margin-left: 0px;
        position: relative;
        bottom: 0px;
        justify-content: center;
    }

  
}

@media screen and (max-width:1140px){

    .bottom-section {
        display: flex;
        position: relative;
        top: 0px;
        padding: 0px 0px;
        line-height: 26px;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .arrow{
        display: none;
    }

    .bottom-content{
        padding-top: 35px;
    }

    .steps>ul {
        color: var(--primary);
        font-weight: 600;
        list-style: none;
        line-height: 50px;
        height: 0px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .vertical-line {
        display: none;
    }
    
}


@media screen and (max-width:926px) {
    
    .left-img>img {
        display: none;
    }

    .nav-logo>img {
        position: relative;
        right: 50px;
        height: 32px;
        display: flex;
        align-items: center;
    }
    
 }

 @media screen and (max-width:733px) {

    nav {
        display: flex;
        justify-content: center;
        padding: 26px 0px;
        flex-direction: column;
        align-items: center;
    }

    .nav-logo>img {
        position: relative;
        right: 2px;
        height: 32px;
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }

 }

 @media screen and (max-width:520px) {
    .nav-list>ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .heading>h1>span {
        font-size: 70px;
    }

    .part{
        font-size: 70px;
    }

    .para {
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .bottom-img>img {
            height: 200px;
            object-fit: cover;
            object-position: center;
            width: 350px;
        }

        .social {
            position: relative;
            left: 0px;
            line-height: 55px;
            top: 59px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

 }

 @media screen and (max-width:349px) {
    .main-section {
        display: flex;
        margin-left: 0px;
        position: relative;
        bottom: 0px;
        justify-content: center;
        flex-direction: column;
    }

    .social {
        position: relative;
        left: 0px;
        line-height: 0px;
        top: 0px;
        display: flex;
        flex-direction: row;
    }

    .bottom-img>img {
    height: 200px;
    object-fit: cover;
    object-position: center;
    width: 300px;
}

.bottom-para>p {
    width: 19rem;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
    margin: 20px 0px;
}

.steps>ul {
    color: var(--primary);
    font-weight: 600;
    list-style: none;
    line-height: 50px;
    height: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

.social {
    position: relative;
    left: 0px;
    line-height: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.part {
    position: relative;
    left: 25px;
    margin-left: 10px;
    width: 234px;
}


}
